<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Vana'Diel Clock</title>
</head>
<body>

    <main class="wrap">
        <section class="panel">

            <div class="panel-top">
                <h1 class="title">Vana’diel Clock</h1>
            </div>


            <div class="clock-row">
                <div class="clock" id="clock">00:00:00</div>

                <div class="clock-meta">
                    <div class="day-big" id="day">Firesday</div>
                    <img class="element-icon" id="elementIcon" alt="" />
                </div>
            </div>

            <div class="date" id="vanaDate">1496/5/5</div>

            <div class="sub" id="subtext">Synced to your device time</div>
        </section>
    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>